<!doctype html>
<html>
  <head>
    <title>Admin Profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/legacy_main_style.css') }}">
  </head>
  <body>
    <div tag="Site Header">
      <h2 tag="Site Title">Admin Profile</h2>
    </div>
    <div>
      <div tag="ascii-art-div">
        <pre class="ascii-art">
                            @@#.            =#*                
                    @@@@@@@@@+   -@@@@@@@@@                    
                    @@@@@@@@@@@@@@@@@@@@@@@                    
             @@@   @@@@@@@@@@@@@@@@@@@@@@@@@  .@@*             
         @@@@@@#   @@@@@@@@@@@@@@@@@@@@@@@@@   @@@@@@@         
     @@@@@@@=     *@@@@@@@@@@@@@@@@@@@@@@@@@      %@@@@@@#     
 .@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@  
@@@@@=            @@@@@@@@@@@@@@@@@@@@@@@@@@@            *@@@@@
@@@               :%@@@@@@@@@@@@@@@@@@@@@@@%.              .@@@
@@@           -            +@@@@@@@*.          :.           @@@
@@@        @@@@                                :@@@*        @@@
@@@      @@@@@@@@@:                          @@@@@@@@@      @@@
@@@     #@@@@@@@@@@@@@@@@*-.        :=%@@@@@@@@@@@@@@@      @@@
@@@       =@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@
@@@            #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-            @@@
@@@          @:         :#@@@@@@@@@@@%:         +@          @@@
@@@         @@@#                               @@@@         @@@
@@@        -@@#  @@+   +@@           :@@   *@@  @@@         @@@
@@@        @@@  .@@@  @@@  @  @@@   @@@  @ @@@   @@@        @@@
@@@        @@%  :@@@  @@  @. @@@@@  @*  @- @@@.  +@@        @@@
@@@        @@-   @@@@@:   -@@@@@@@@@:   :@@@@@    @@        @@@
@@@        @@:   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@    @@        @@@
@@@-       @@=    @@@@@@@@@         @@@@@@@@@     @@       =@@*
@@@@        @@     %@@@@@@@@@     @@@@@@@@@@     +@        @@@ 
 @@@        +@  :%   @@@@@@@@@.  @@@@@@@@@   @.  @*        @@@ 
 @@@%        %  @     :@@@@@@%   @@@@@@@:    =@ -@        @@@- 
  @@@.          @      @@@@   *@@   @@@@      @          #@@@  
   @@@          @:         +@@@@@@@#         #@         =@@@   
    @@@.                  :@@@@@@@@@*                  @@@@    
     @@@@                  *@@@@@@@@                  @@@@     
      @@@@                   @@@@@                  -@@@+      
        @@@                                        .@@@        
         =*                                        .@.         
    </pre>
      </div>
      <div tag="User Info Div">
        <p tag="User Info">Username: {{ user.uid }}</p>
        <p tag="User Info">Name: {{ user.cn }}</p>
        <p tag="User Info">Title: {{ user.title }}</p>
        <p tag="User Info">Employee Number: {{ user.employeeNumber }}</p>
        <p tag="User Info">Employee Role: {{ user.employeeType }}</p>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <hr />
    
  </body>
</html>