<!doctype html>
<html>
  <head>
    <title>NTU Sentinels Admin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
  </head>
  <body>
    <div tag="Site Header">
      <h2 tag="Site Title">NTU Sentinels</h2>
    </div>
    <div class="ascii-art-div">
      <pre class="ascii-art">
                            @@#.            =#*                
                    @@@@@@@@@+   -@@@@@@@@@                    
                    @@@@@@@@@@@@@@@@@@@@@@@                    
             @@@   @@@@@@@@@@@@@@@@@@@@@@@@@  .@@*             
         @@@@@@#   @@@@@@@@@@@@@@@@@@@@@@@@@   @@@@@@@         
     @@@@@@@=     *@@@@@@@@@@@@@@@@@@@@@@@@@      %@@@@@@#     
 .@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@  
@@@@@=            @@@@@@@@@@@@@@@@@@@@@@@@@@@            *@@@@@
@@@               :%@@@@@@@@@@@@@@@@@@@@@@@%.              .@@@
@@@           -            +@@@@@@@*.          :.           @@@
@@@        @@@@                                :@@@*        @@@
@@@      @@@@@@@@@:                          @@@@@@@@@      @@@
@@@     #@@@@@@@@@@@@@@@@*-.        :=%@@@@@@@@@@@@@@@      @@@
@@@       =@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@
@@@            #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-            @@@
@@@          @:         :#@@@@@@@@@@@%:         +@          @@@
@@@         @@@#                               @@@@         @@@
@@@        -@@#  @@+   +@@           :@@   *@@  @@@         @@@
@@@        @@@  .@@@  @@@  @  @@@   @@@  @ @@@   @@@        @@@
@@@        @@%  :@@@  @@  @. @@@@@  @*  @- @@@.  +@@        @@@
@@@        @@-   @@@@@:   -@@@@@@@@@:   :@@@@@    @@        @@@
@@@        @@:   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@    @@        @@@
@@@-       @@=    @@@@@@@@@         @@@@@@@@@     @@       =@@*
@@@@        @@     %@@@@@@@@@     @@@@@@@@@@     +@        @@@ 
 @@@        +@  :%   @@@@@@@@@.  @@@@@@@@@   @.  @*        @@@ 
 @@@%        %  @     :@@@@@@%   @@@@@@@:    =@ -@        @@@- 
  @@@.          @      @@@@   *@@   @@@@      @          #@@@  
   @@@          @:         +@@@@@@@#         #@         =@@@   
    @@@.                  :@@@@@@@@@*                  @@@@    
     @@@@                  *@@@@@@@@                  @@@@     
      @@@@                   @@@@@                  -@@@+      
        @@@                                        .@@@        
         =*                                        .@.         
  </pre>
    </div>
    <div>
      <h2 tag="Flag">{{flag}}</h2>
      <a href="/saml/logout">Logout</a>
    </div>
    <div class="profile-info">
      <p>Name: {{ user.cn }}</p>
      <p>Username: {{ user.uid }}</p>
      <p>Title: {{ user.title }}</p>
      <p>Employee Number: {{ user.employeeNumber }}</p>
      <p>Employee Role: {{ user.employeeType }}</p>
    </div>
    <hr/>
  </body>
</html>